<ion-item [formGroup]="formPiece">
    <ion-label>Dice type: </ion-label>
	<ion-select formControlName="itemDiceType">
          <ion-option value="4">1-4</ion-option>
          <ion-option value="6">1-6</ion-option>
          <ion-option value="8">1-8</ion-option>
          <ion-option value="10">1-10</ion-option>
          <ion-option value="12">1-12</ion-option>
          <ion-option value="20">1-20</ion-option>
          <ion-option value="100">1-100</ion-option>
          <ion-option value="fudge">Fudge</ion-option>
        </ion-select>
</ion-item>
<ion-item [formGroup]="formPiece">
    <ion-label>Quantity:</ion-label>
    <ion-input type="number" formControlName="itemQuantity" min="1"></ion-input>
</ion-item>
